html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,
video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0;}
* { font-family: 'Franklin Gothic', 'sans-serif'; }
/*форма*/
form {
	padding: 15px;
    border-bottom: 1px solid #a1a1a1;
    background-color: #e9e9e9;
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
}
form>select {
	outline: none;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 10px;
}
input {
	outline: none;
	padding: 5px;
	border-radius: 5px;
	margin-right: 10px;
}
.btn {
	border: 1px solid #c8c8c8;
	background-color: white;
	padding: 6px;
	box-shadow: none;
}
.btn:active { box-shadow: inset 1px 1px 1px black; }
form>label {
	color: #848484;
	text-shadow: -1px -1px 0px #747474;
	letter-spacing: 1px;
	font-family: 'Montserrat Alternates', sans-serif;
}
/*таблица*/
.main {
	padding: 5px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.element {
	border: 1px solid silver;
	border-radius: 5px;
	padding: 5px;
	background-color: #e9e9e9;
	margin-bottom: 20px;
	box-shadow: 0px 1px 2px grey;
	width: 45%;
}
.element>div { padding: 5px; }
.element__body>div{ margin: 5px; }
span { color: #323232; margin-right: 15px; }
.element__header{ float: right; }
button {
	position: relative;
	top: 5px;
	outline: none;
	border-radius: 5px;
	background: transparent;
	border: none;
	cursor: pointer;
}
button:hover{ background-color: #d0d0d0; }
button:active{ box-shadow: inset 1px 1px 2px black; }
img { width: 25px; height: 25px; }
.gfonts {
	font-family: 'Montserrat Alternates', sans-serif;
	color: #595959;
}
.manager>label {
	margin-right: 15px;
}
.element__body { min-height: 350px; }
.s_blocks {
	display: block;
	position: relative;
	right: -30%;
}
.space { margin-right: 10px; }